RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !^/(admin|web/admin|favicon\.ico) [NC]
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
